<div class="container mt-5">
  <div *ngIf='!registerIsDisplayed' style="text-align: center;">
    <h1>Find A Crayon</h1>
    <p class="lead">Check out all the neat colors we make!</p>
    <div class="text-center">
      <button (click)='toggleDisplay()' class="btn btn-primary btn-lg m-2">Register</button>
      <button class="btn btn-info btn-lg m-2">Learn More</button>
    </div>
  </div>

  <div *ngIf="registerIsDisplayed" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register [valuesFromHome]='values' (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>

<!-- passing values down from parent to child uses [] -->