<div class="div-form">
  <div>
    <h3 class='capitalize'>Hey {{ currentUserName }}!</h3>
  </div>
    
  <div [formGroup]="myForm"><p class='edit-descriptor'>City:</p>
    <input formControlName="city" type='text' class='form-control' name='City' required>
  </div>
  <div [formGroup]="myForm"><p class='edit-descriptor'>Country:</p>
    <input formControlName="country" type='text' class='form-control' name='Country' required>
  </div>
  <div [formGroup]="myForm"><p class='edit-descriptor'>Gender:</p>
    <input formControlName="gender" type='text' class='form-control' name='Gender' required>
  </div>
  <div [formGroup]="myForm"><p class='edit-descriptor'>Interests:</p>
    <textarea formControlName="interests" rows="5" cols="1" class='form-control' name='Interests' required></textarea>
  </div>
  <div [formGroup]="myForm"><p class='edit-descriptor'>Introduction:</p>
    <textarea formControlName="introduction" type='textarea' class='form-control' name='Introduction' required></textarea>
  </div>
  <div [formGroup]="myForm"><p class='edit-descriptor'>Known As:</p>
    <input formControlName="knownAs" type='text' class='form-control' name='Known As' required>
  </div>

  <div class='btn-group text-center'>
    <button class='button btn btn-success btn-block' (click)='submitForm()' type='submit'>Submit Changes</button>
    <button class='button btn btn-danger btn-block' (click)='cancel()' type='button'>Cancel</button>
  </div>
</div>